.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
  padding: 20px;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-title {
  font-size: 28px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 10px;
}

.login-description {
  font-size: 16px;
  color: #4b5563;
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px; /* Espacio para el icono */
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.input-group .input-icon {
  position: absolute;
  left: 12px; /* Ajusta según el espacio que desees */
  top: 70%;
  transform: translateY(-50%); /* Centra verticalmente el icono */
  width: 24px;
  height: 24px;
  color: #6b7280; /* Color del icono */
}

.login-button {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  background-color: #121d30;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #374151;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #444;
  font-size: 16px;
  border: 1px solid #d1d5db;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-button:hover {
  background-color: #f1f1f1;
}

.google-button .icon {
  margin-right: 10px;
  font-size: 20px;
}

.error-message {
  color: #d9534f;
  font-size: 14px;
  margin: 5px 0;
  padding: 0;
  text-align: left;
}

.divider {
  text-align: center;
  color: #6b7280;
  margin: 30px 0;
  position: relative;
  width: 100%;
}

.divider:before,
.divider:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #d1d5db;
  position: absolute;
  top: 50%;
  width: 45%;
}

.divider:before {
  left: 0;
}

.divider:after {
  right: 0;
}

.divider span {
  background-color: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .login-card {
    padding: 20px;
    max-width: 100%;
  }

  .login-title {
    font-size: 24px;
  }

  .login-description {
    font-size: 14px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .input-group label {
    font-size: 12px;
  }

  .input-group input {
    font-size: 12px;
    padding: 10px 10px 10px 36px;
  }

  .login-button {
    font-size: 16px;
    padding: 12px;
  }

  .google-button {
    font-size: 16px;
    padding: 12px;
  }

  .google-button .icon {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .login-title {
    font-size: 20px;
  }

  .login-description {
    font-size: 12px;
  }

  .input-group {
    margin-bottom: 8px;
  }

  .input-group label {
    font-size: 11px;
  }

  .input-group input {
    font-size: 11px;
    padding: 10px 10px 10px 32px;
  }

  .login-button {
    font-size: 14px;
    padding: 10px;
  }

  .google-button {
    font-size: 14px;
    padding: 10px;
  }

  .google-button .icon {
    font-size: 16px;
  }
}