.app-container {
  display: flex;
}

.apps-management-container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 250px; 
  min-height: 100vh; 
}

.apps-content {
  flex-grow: 1; 
  padding: 20px;
  overflow-y: auto; 
}
