:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* Cambiado a 'light' para esquema de color claro */
  color: #333333; /* Texto oscuro para buen contraste en fondo claro */
  background-color: #ffffff; /* Fondo claro */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Añadido para manejo consistente de bordes y padding */
}
